/* Estilos para la barra de navegación */
nav {
    background-color: #000000;
    padding: 65px;
    overflow: hidden;
    position: fixed; /* Fija la barra en la parte superior */
    top: 0; /* Fija la barra en la parte superior */
    left: 0; /* Fija la barra en la parte izquierda */
    width: 95%; /* Ajusta el ancho al 100% del viewport */
    z-index: 999; /* Asegura que la barra esté por encima del contenido */
  }
  
  /* Estilos para los botones de navegación */
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    margin-right: 45px;
    background-color: #000000;
    border-radius: 35px;
    font-weight: bold;
  }
  
  /* Estilos para resaltar los botones al pasar el puntero del mouse */
  nav a:hover {
    background-color: #fff;
    color: #000000;
    font-weight: bold;
    padding: 9px 45px;
  }
  
  
  /* Estilos para separar y alinear los botones a la derecha */
  .nav_megcytech {
    float: right;
  }
  
  /* Estilos adicionales para la página */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .corner-image {
    position: fixed;
    top: -7px; /* Ajusta la posición vertical de la imagen en la esquina */
    left: 20px; /* Ajusta la posición horizontal de la imagen en la esquina */
    width: 200px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 155px; /* Ajusta la altura de la imagen según tus necesidades */
    z-index: 999; /* Asegura que la imagen esté por encima del contenido */
  }

